@use "@angular/material" as mat;

@include mat.core();

$orange-theme-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
    ),
  )
);

$orange-theme-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
    ),
  )
);

.mat-theme-dark {
  background: mat.get-theme-color($orange-theme-dark, background);
  @include mat.all-component-colors($orange-theme-dark);
}

.mat-theme-light {
  background: mat.get-theme-color($orange-theme-light, background);
  @include mat.all-component-colors($orange-theme-light);
}

.mat-nav-toolbar {
  @include mat.elevation(4);
}

span {
  margin-left: 10px;
}

.flex-space-between {
  flex: 1 1 auto;
}
