/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

$orange-theme-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
    ),
  )
);

$orange-theme-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
    ),
  )
);

//TODO:
//Heihgt fix angular main content on list generator
.mat-theme-dark {
  background: mat.get-theme-color($orange-theme-dark, background);
  @include mat.all-component-colors($orange-theme-dark);
}

.mat-theme-light {
  background: mat.get-theme-color($orange-theme-light, background);
  @include mat.all-component-colors($orange-theme-light);
}

.mat-nav-toolbar {
  @include mat.elevation(4);
  padding: 10px;
}

.mat-menu-theme-selector {
  margin-left: 1em;
  margin-right: 1em;
}

.mat-nav-toolbar-space {
  flex: 1 1 auto;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
